{% extends '::base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        {% for key, station in stations %}
            <div class="col-sm-6 col-md-5">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{ station.stn_name }}</h3>
                    </div>
                    <div class="panel-body">
                        <ul class="list-group">
                            <li class="list-group-item">Description: {{ station.description }}</li>
                            <li class="list-group-item">BOM ID: {{ station.bom_id }}</li>
                            <li class="list-group-item">Time Zone: {{ station.timezone }}</li>
                            <li class="list-group-item">
                                Location
                                <ul>
                                    <li>Latitude: {{ station.location.lat }}</li>
                                    <li>Longitude: {{ station.location.lon }}</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="panel-footer">
                        <a href="{{ path('_reading', {'stationId': station.identifier}) }}.xml"
                           target="_blank">Readings</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}